/* .welcome_container{

font-size: 1.1em;

}

.welcome_content{
 
     text-align: center;  
     margin: auto; 
     width:50%;
     
 
    

}

.img_container{
   
   
   margin:auto;
   width:50%;
   padding:20%;
   text-align: center;
   
  
    
}

img{
   
height: auto;
width:auto;

}
  */

  /*******************************************************************************************************************/

  
