/* .mobile_filter_btn_container{

    width:100%;
    text-align: center;
}

.mobile_filter_heading{
   
    margin:0.5em;
    font-size: 0.9em;

}

.mobile_filter_btn{

    width:30%;
    height: 40px;
    font-size: 1.1em;
    border-style: solid;
    border-color: var(--secondary);
    margin-top: 2px;
    margin-bottom: 30px;
    margin-left: 2px;
    display: inline-block;
    
   } */

   /************************************************************/

