
/* 
.popup{
  position: fixed;
  top:80%;
  left:0;
  width:100%;
  height:100vh;
 background-color: white;
border-style: solid;
border-color: var(--secondary);
border-width: 5px;
border-radius: 1%;



}


 .popup_close_btn{
  position:absolute;
  top:16px;
  right:20px;
  background-color: white;
  border-style: none;
  font-size: 1.2em;
} 

.popup_radio_btns_container label{
   font-size: 0.9em;
   display: block;
  

}

.popup_radio_btns_input{


   margin: 1em;

}

.mobile_submit_btn{

    border-color: var(--secondary);
    width:100%;
    max-width: 7em;

 font-size: 1.2em;
 
 border-style: solid;
 border-color: var(--secondary);
 margin-top: 1em;
 margin-bottom: 30px;
} */

/***************************************************************************************************************************/

