/* .articlearea{

  
    margin: 1%;
    padding: 1%;
}


.card{
    list-style-type: none; 
    font-family: 'Roboto-Medium';
   overflow-x: hidden;
    
  }

  #title{

    font-size: 2em;
    font-weight: bolder;
    margin:2%;
  }

  #created_by{
    margin-top:5%;
    margin-bottom: 4%;
  }

  .img_container{
    max-width: 100%;
  }

  .article_img{
    width:90%;
    padding: 3%;

  }
.article_body{

  line-height: 1.5em ;
}

.votes{

  padding-top: 5%;
  padding-bottom: 5%;
}

#vote_count{
  font-weight: bold;
} */


/*************************************************************************************************************************/

