.navbar {
  display: flex;
  align-items: center; 
  justify-content:space-evenly;
  background-color: #333;
  padding: 1rem;
  color: white;
  width:100%;
  

}

.navbar_title {
  text-align: left;
  font-weight: bold;
}

.navbar_links {
  list-style: none;
  gap: 1rem;
  display: none;
}

.navbar-links li a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

.dropbtn {
    background-color:#333;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    cursor: pointer;
  }

  .dropdown {
    position: relative;
    display: inline-block;
    z-index: 1;
  }

  .dropdown_content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    width:auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 20;
   
  }

  .dropdown_content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown:hover .dropdown_content {
    display: block;
  }

  .mobile_menu_button {
    display: flex; /* Hidden by default on larger screens */
    background-color: #444;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
  }

  @media screen and (min-width:760px) {
    .navbar_links{
        display: flex;
    }
    .mobile_menu_button{
        display: none;
    }
  }
