.single_article_container{
    padding:1rem;
   
}

.single_article_title{
    text-align: center;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    
    
}

.img_container{
    width: 100%;
    display: flex;
    justify-content: center;
}
.single_article_container span{
 padding: 0.5rem;
 font-size: 0.8rem;
 margin-bottom  : 1rem;
}


.img_container img {
    margin:1rem 0.5rem;
    max-width: 100%;  /* Image will not be wider than its container */
    height: auto;  /* Maintain aspect ratio */
    border-radius: 0.5rem;  /* Optional: Add a bit of rounding for a clean look */
  }

.article_body{
    font-size: 1rem;
    line-height: 1.6;
    margin-top: 1rem;
}

.article_vote span {
  margin: 0;
  padding-left: 0.5rem;
  
}

@media screen and (min-width:620px) {
    .single_article_container {
        max-width: 60rem;  /* Limit the max width of the container */
        margin: 0 auto;  /* Center the container on the screen */
      }
    
      .img_container img {
        max-width: 600px;  /* Limit the image size on larger screens */
      }
      .article_body{
        font-size: 1.1rem;
      }
}

@media screen and (min-width:960px) {
    
    .single_article_container {
        max-width:60rem;  /* Limit the max width of the container */
        margin: 0 auto;  /* Center the container on the screen */
      }
    
      .img_container img {
        max-width: 600px;  /* Limit the image size on larger screens */
      }
      .article_body{
        font-size: 1.2rem;
      }
}

@media screen and (min-width:1200px) {
   
    .single_article_container {
        max-width: 100rem;  /* Limit the max width of the container */
        margin: 0 auto;  /* Center the container on the screen */
        
      }
    
      .img_container img {
        max-width: 50rem;  /* Limit the image size on larger screens */
      }

      .article_body{
        font-size: 1.3rem;
      }
}

@media screen and (min-width:1920px) {
   
    .single_article_container {
        max-width: 110rem;  /* Limit the max width of the container */
        margin: 0 auto;  /* Center the container on the screen */
      }
    
      .img_container img {
        max-width: 55rem;  /* Limit the image size on larger screens */
      }
      .article_body{
        font-size: 1.5rem;
      }
}