.articlearea {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: min-content auto auto;
    grid-template-areas:
      'card';
  }

  @media only screen and (min-width: 600px) {
    .articlearea{
      grid-template-columns: 25% 75%;
      grid-template-rows: min-content auto;
      grid-template-areas:
        'card'
        
    }
  }
